.BigDiscounts{
    display: flex;
    justify-content: center;
    background-color: #f6f9fc;
    height: 500px;
    padding: 25px 0px;
    .container{
        width: 90%;
        .heading{
            display: flex;
            align-items: center;
            h2{
                font-weight: 400;
                margin-left: 10px;
            }
            i{
                color: #e94560;
            }
        }
        .product{
            background: #fff;
            border-radius: 8px;
            box-shadow: 0 1px 3px rgb(3 0 71 / 9%);
            margin: 10px;
            padding: 20px;
            position: relative;
            display: flex;
            flex-direction: column;
            span.price{
                color: #e94560;
            }
        }
    }
}

